<?xml version="1.0" encoding="UTF-8"?>
<completions>
	<provider name="context.commands">
		<syntax>context</syntax>
		<expression>(?&lt;=\\)[a-zA-Z]*</expression>
		<set>context.commands</set>
	</provider>
	
	<set name="context.commands">
		<completion string="wordright" />
		<completion string="leftaligned" />
		<completion string="midaligned" />
		<completion string="rightaligned" />
		<completion string="startalignment" />
		<completion string="defineattachment" />
		<completion string="placeattachments" />
		<completion string="registerattachment" />
		<completion string="setupattachment" />
		<completion string="setupattachments" />
		<completion string="definetextbackground" />
		<completion string="setupbackground" />
		<completion string="setupbackgrounds" />
		<completion string="setuptextbackground" />
		<completion string="startbackground" />
		<completion string="starttextbackground" />
		<completion string="cite" />
		<completion string="definebtx" />
		<completion string="publication" />
		<completion string="setuppublications" />
		<completion string="bypassblocks" />
		<completion string="defineblock" />
		<completion string="forceblocks" />
		<completion string="hideblocks" />
		<completion string="keepblocks" />
		<completion string="nomoreblocks" />
		<completion string="processblocks" />
		<completion string="selectblocks" />
		<completion string="setupblock" />
		<completion string="useblocks" />
		<completion string="getbuffer" />
		<completion string="typebuffer" />
		<completion string="definebuffer" />
		<completion string="setbuffer" />
		<completion string="setupbuffer" />
		<completion string="startbuffer" />
		<completion string="color" />
		<completion string="blackrule" />
		<completion string="blackrules" />
		<completion string="setupblackrules" />
		<completion string="comparecolorgroup" />
		<completion string="comparepalet" />
		<completion string="definecolor" />
		<completion string="definecolorgroup" />
		<completion string="definepalet" />
		<completion string="definespotcolor" />
		<completion string="graycolor" />
		<completion string="setupbackend" />
		<completion string="setupcolor" />
		<completion string="setuppalet" />
		<completion string="showcolor" />
		<completion string="showcolorgroup" />
		<completion string="showpalet" />
		<completion string="startcolor" />
		<completion string="starteffect" />
		<completion string="usecolors" />
		<completion string="column" />
		<completion string="columnbreak" />
		<completion string="startparagraph" />
		<completion string="definecolumnset" />
		<completion string="definecolumnsetarea" />
		<completion string="definecolumnsetspan" />
		<completion string="definelayout" />
		<completion string="defineparagraphs" />
		<completion string="mixedcolumns" />
		<completion string="paragraph" />
		<completion string="setupcolumns" />
		<completion string="setupcolumnset" />
		<completion string="setupcolumnsetarea" />
		<completion string="setupcolumnsetspan" />
		<completion string="setupcolumnsetstart" />
		<completion string="setuppagecolumns" />
		<completion string="setupparagraphs" />
		<completion string="startcolumnset" />
		<completion string="startpagecolumns" />
		<completion string="testcolumn" />
		<completion string="characters" />
		<completion string="Numbers" />
		<completion string="defineconversion" />
		<completion string="definestructureconversionset" />
		<completion string="greeknumerals" />
		<completion string="Greeknumerals" />
		<completion string="mediaeval" />
		<completion string="numbers" />
		<completion string="oldstylenumerals" />
		<completion string="oldstyleromannumerals" />
		<completion string="romannumerals" />
		<completion string="Romannumerals" />
		<completion string="defineresetset" />
		<completion string="setupitemgroup" />
		<completion string="definereference" />
		<completion string="setupreferencestructureprefix" />
		<completion string="usereferences" />
		<completion string="datasetvariable" />
		<completion string="definedataset" />
		<completion string="setdataset" />
		<completion string="currentdate" />
		<completion string="currenttime" />
		<completion string="date" />
		<completion string="month" />
		<completion string="MONTH" />
		<completion string="referraldate" />
		<completion string="weekday" />
		<completion string="WEEKDAY" />
		<completion string="showjustification" />
		<completion string="contextmark" />
		<completion string="contextversion" />
		<completion string="contextversionnumber" />
		<completion string="currentcomponent" />
		<completion string="currentproduct" />
		<completion string="currentenvironment" />
		<completion string="currentproject" />
		<completion string="processedfile" />
		<completion string="processedfiles" />
		<completion string="enabletrackers" />
		<completion string="jobname" />
		<completion string="ruledhbox" />
		<completion string="showframe" />
		<completion string="showgrid" />
		<completion string="showlayout" />
		<completion string="showmakeup" />
		<completion string="showprint" />
		<completion string="showsetups" />
		<completion string="showstruts" />
		<completion string="texenginename" />
		<completion string="texengineversion" />
		<completion string="version" />
		<completion string="definedelimitedtext" />
		<completion string="setupdelimitedtext" />
		<completion string="setupquotation" />
		<completion string="setupquote" />
		<completion string="setupdescription" />
		<completion string="setupdescriptions" />
		<completion string="setuptab" />
		<completion string="tab" />
		<completion string="setupenumeration" />
		<completion string="setup" />
		<completion string="setups" />
		<completion string="startsetups" />
		<completion string="usedirectory" />
		<completion string="clonefield" />
		<completion string="copyfield" />
		<completion string="definefield" />
		<completion string="definefieldstack" />
		<completion string="definesubfield" />
		<completion string="field" />
		<completion string="fieldstack" />
		<completion string="fillinfield" />
		<completion string="fitfield" />
		<completion string="logfields" />
		<completion string="setupfield" />
		<completion string="setupfields" />
		<completion string="showfields" />
		<completion string="backgroundimage" />
		<completion string="clip" />
		<completion string="copypages" />
		<completion string="definefiguresymbol" />
		<completion string="externalfigure" />
		<completion string="filterpages" />
		<completion string="grid" />
		<completion string="insertpages" />
		<completion string="mirror" />
		<completion string="rotate" />
		<completion string="scale" />
		<completion string="setupclipping" />
		<completion string="setuprotate" />
		<completion string="showexternalfigures" />
		<completion string="startcombination" />
		<completion string="startfigure" />
		<completion string="startpagefigure" />
		<completion string="definecombination" />
		<completion string="placenamedfloat" />
		<completion string="placeontopofeachother" />
		<completion string="reservefloat" />
		<completion string="setupcaption" />
		<completion string="setupcaptions" />
		<completion string="setupcombination" />
		<completion string="setupfloatsplitting" />
		<completion string="splitfloat" />
		<completion string="addff" />
		<completion string="cap" />
		<completion string="CAP" />
		<completion string="Cap" />
		<completion string="Caps" />
		<completion string="definecharacterkerning" />
		<completion string="placeinitial" />
		<completion string="setupcharacterkerning" />
		<completion string="setupinitial" />
		<completion string="unitshigh" />
		<completion string="unitslow" />
		<completion string="WORD" />
		<completion string="Word" />
		<completion string="WORDS" />
		<completion string="Words" />
		<completion string="definebodyfont" />
		<completion string="definebodyfontenvironment" />
		<completion string="definedfont" />
		<completion string="definefirstline" />
		<completion string="definefont" />
		<completion string="definefontalternative" />
		<completion string="definefontfallback" />
		<completion string="definefontfamily" />
		<completion string="definefontfeature" />
		<completion string="definefontsynonym" />
		<completion string="definehighlight" />
		<completion string="fixedspaces" />
		<completion string="fontchar" />
		<completion string="frak" />
		<completion string="goth" />
		<completion string="high" />
		<completion string="hilo" />
		<completion string="lohi" />
		<completion string="low" />
		<completion string="nocap" />
		<completion string="os" />
		<completion string="sc" />
		<completion string="setcharactercasing" />
		<completion string="setff" />
		<completion string="setupbodyfont" />
		<completion string="setupbodyenvironment" />
		<completion string="setupcapitals" />
		<completion string="setupfontprotrusion" />
		<completion string="setupfonts" />
		<completion string="setuphighlight" />
		<completion string="showbodyfont" />
		<completion string="showbodayfontenvironment" />
		<completion string="space" />
		<completion string="starteffect" />
		<completion string="starttypescript" />
		<completion string="stretched" />
		<completion string="switchtobodyfont" />
		<completion string="useencoding" />
		<completion string="usetypescript" />
		<completion string="definelinenote" />
		<completion string="flushfootnotes" />
		<completion string="note" />
		<completion string="placefootnotes" />
		<completion string="placelocalfootnotes" />
		<completion string="postponefootnotes" />
		<completion string="postponenotes" />
		<completion string="setupcounter" />
		<completion string="setupfootnotedefinition" />
		<completion string="setupfootnotes" />
		<completion string="setuplinenote" />
		<completion string="setuplocalnotes" />
		<completion string="setupnotation" />
		<completion string="setupnote" />
		<completion string="setupnotes" />
		<completion string="startlocalfootnotes" />
		<completion string="defineframedtext" />
		<completion string="mathframed" />
		<completion string="setupframedtexts" />
		<completion string="setupmathframed" />
		<completion string="showframe" />
		<completion string="simplealignedbox" />
		<completion string="moveongrid" />
		<completion string="placeongrid" />
		<completion string="snaptogrid" />
		<completion string="startlinecorrection" />
		<completion string="noheaderandfooterlines" />
		<completion string="registerhyphenationexception" />
		<completion string="setuphyphenation" />
		<completion string="setuphyphenmark" />
		<completion string="setuptolerance" />
		<completion string="unhyphenated" />
		<completion string="but" />
		<completion string="button" />
		<completion string="checksoundtrack" />
		<completion string="coupledocument" />
		<completion string="defineinteractionmenu" />
		<completion string="defineprogram" />
		<completion string="defineversion" />
		<completion string="disableinteractionmenu" />
		<completion string="followprofile" />
		<completion string="followprofileversion" />
		<completion string="followversion" />
		<completion string="interactionbar" />
		<completion string="interactionbuttons" />
		<completion string="interactionmenu" />
		<completion string="menubutton" />
		<completion string="placebookmarks" />
		<completion string="setupbutton" />
		<completion string="setupcomment" />
		<completion string="setupinteraction" />
		<completion string="setupinteractionbar" />
		<completion string="setupinteractionmenu" />
		<completion string="setupinteractionscreen" />
		<completion string="startinteractionmenu" />
		<completion string="useexternaldocument" />
		<completion string="useexternalsoundtrack" />
		<completion string="setupexternalsoundtracks" />
		<completion string="useURL" />
		<completion string="continueifinputfile" />
		<completion string="define" />
		<completion string="defineoutput" />
		<completion string="dodoubleempty" />
		<completion string="dodoublegroupempty" />
		<completion string="doifnextcharelse" />
		<completion string="doifundefined" />
		<completion string="doifdefined" />
		<completion string="doif" />
		<completion string="doifnot" />
		<completion string="doifelse" />
		<completion string="doifempty" />
		<completion string="doifnotempty" />
		<completion string="doifemptyelse" />
		<completion string="doifinset" />
		<completion string="doifnotinset" />
		<completion string="doifinsetelse" />
		<completion string="doifcommon" />
		<completion string="doifnotcommon" />
		<completion string="doifcommonelse" />
		<completion string="doifsamestring" />
		<completion string="doifsamestring" />
		<completion string="doifnotsamestring" />
		<completion string="doifinstringelse" />
		<completion string="doifincsnameelse" />
		<completion string="doifnumberelse" />
		<completion string="doifassignmentelse" />
		<completion string="doiftext" />
		<completion string="doiftextelse" />
		<completion string="doifrightpageelse" />
		<completion string="doifdocumentargument" />
		<completion string="doifelseindented" />
		<completion string="doloop" />
		<completion string="dorecurse" />
		<completion string="dostepwiserecurse" />
		<completion string="env" />
		<completion string="exitloop" />
		<completion string="exitloopnow" />
		<completion string="getdocumentargument" />
		<completion string="getvariable" />
		<completion string="groupedcommand" />
		<completion string="input" />
		<completion string="ReadFile" />
		<completion string="installcommandhandler" />
		<completion string="nomorefiles" />
		<completion string="numbers" />
		<completion string="processpage" />
		<completion string="recursedepth" />
		<completion string="recurselevel" />
		<completion string="signalrightpage" />
		<completion string="startglobal" />
		<completion string="starttexdefinition" />
		<completion string="writestatus" />
		<completion string="definedescription" />
		<completion string="head" />
		<completion string="item" />
		<completion string="items" />
		<completion string="its" />
		<completion string="mar" />
		<completion string="nop" />
		<completion string="ran" />
		<completion string="setupitems" />
		<completion string="startitemgroup" />
		<completion string="sub" />
		<completion string="sym" />
		<completion string="definelayer" />
		<completion string="setlayer" />
		<completion string="setuplayer" />
		<completion string="adaptlayout" />
		<completion string="placement" />
		<completion string="defineplacement" />
		<completion string="setupfittingpage" />
		<completion string="shiftdown" />
		<completion string="shiftup" />
		<completion string="startnarrow" />
		<completion string="definemakeup" />
		<completion string="definepagebreak" />
		<completion string="definepageshift" />
		<completion string="definepapersize" />
		<completion string="filterpages" />
		<completion string="insertpages" />
		<completion string="notopandbottomlines" />
		<completion string="offset" />
		<completion string="selectpaper" />
		<completion string="setuparranging" />
		<completion string="setupbottom" />
		<completion string="setupfooter" />
		<completion string="setupheader" />
		<completion string="definetypeface" />
		<completion string="setupinterlinespace" />
		<completion string="setuplayout" />
		<completion string="setuplayouttext" />
		<completion string="setupmakeup" />
		<completion string="setupoffset" />
		<completion string="setupoffsetbox" />
		<completion string="setupoppositeplacing" />
		<completion string="setupoutput" />
		<completion string="setuppagenumbering" />
		<completion string="setuppageshift" />
		<completion string="setuppaper" />
		<completion string="adaptpapersize" />
		<completion string="setuppapersize" />
		<completion string="setuptop" />
		<completion string="setupuserpagenumber" />
		<completion string="startmakeup" />
		<completion string="startnamemakeup" />
		<completion string="startopposite" />
		<completion string="startpostponing" />
		<completion string="startpagefigure" />
		<completion string="startTEXpage" />
		<completion string="completelistofsorts" />
		<completion string="completelistofsynonyms" />
		<completion string="definecombinedlist" />
		<completion string="definereferencelist" />
		<completion string="determinelistcharacteristics" />
		<completion string="listsymbol" />
		<completion string="nolist" />
		<completion string="placecombinedlist" />
		<completion string="placelistofsorts" />
		<completion string="placelistofsynonyms" />
		<completion string="placereferencelist" />
		<completion string="setupcombinedlist" />
		<completion string="setupreferencelist" />
		<completion string="writetoreferencelist" />
		<completion string="cldcommand" />
		<completion string="ctxlua" />
		<completion string="cldcontext" />
		<completion string="cldprocessfile" />
		<completion string="ctxcommand" />
		<completion string="inothermargin" />
		<completion string="marginrule" />
		<completion string="setupmarginblocks" />
		<completion string="setupmargindata" />
		<completion string="setupmarginrules" />
		<completion string="startmarginblock" />
		<completion string="startmarginrule" />
		<completion string="couplemarking" />
		<completion string="decouplemarking" />
		<completion string="definemarking" />
		<completion string="getmarking" />
		<completion string="marking" />
		<completion string="nomarking" />
		<completion string="resetmarking" />
		<completion string="setupmarking" />
		<completion string="digits" />
		<completion string="fraction" />
		<completion string="mathematics" />
		<completion string="mathframed" />
		<completion string="placeformula" />
		<completion string="placesubformula" />
		<completion string="setupformulae" />
		<completion string="setupmathematics" />
		<completion string="setupmathframed" />
		<completion string="setupunits" />
		<completion string="startformula" />
		<completion string="startsubstack" />
		<completion string="defineMPinstance" />
		<completion string="processMPbuffer" />
		<completion string="setupMPinstance" />
		<completion string="startMPcode" />
		<completion string="startMPenvironment" />
		<completion string="startMPinclusions" />
		<completion string="startreusableMPgraphic" />
		<completion string="startstaticMPfigure" />
		<completion string="startuniqueMPgraphic" />
		<completion string="reuseMPgraphic" />
		<completion string="startuseMPgraphic" />
		<completion string="uniqueMPgraphic" />
		<completion string="useMPgraphic" />
		<completion string="usestaticMPgraphic" />
		<completion string="character" />
		<completion string="Character" />
		<completion string="Characters" />
		<completion string="chem" />
		<completion string="definestartstop" />
		<completion string="referral" />
		<completion string="usemodule" />
		<completion string="defineenumeration" />
		<completion string="definelabel" />
		<completion string="enumeration" />
		<completion string="labeling" />
		<completion string="setupenumerations" />
		<completion string="startenumeration" />
		<completion string="convertnumber" />
		<completion string="currentheadnumber" />
		<completion string="definelinenumbering" />
		<completion string="determineheadnumber" />
		<completion string="headnumber" />
		<completion string="lastpagenumber" />
		<completion string="reset" />
		<completion string="setupheadnumber" />
		<completion string="setuplinenumbering" />
		<completion string="setuppagenumber" />
		<completion string="setuppagenumbering" />
		<completion string="setupparagraphnumbering" />
		<completion string="setupsubpagenumber" />
		<completion string="setupunits" />
		<completion string="startlinenumbering" />
		<completion string="totalnumberofpages" />
		<completion string="defineoverlay" />
		<completion string="vskip" />
		<completion string="correctwhitespace" />
		<completion string="crlf" />
		<completion string="definefirstline" />
		<completion string="defineindenting" />
		<completion string="defineparagraphs" />
		<completion string="emptylines" />
		<completion string="indentation" />
		<completion string="indenting" />
		<completion string="noindentation" />
		<completion string="noindenting" />
		<completion string="nowhitespace" />
		<completion string="paragraph" />
		<completion string="setupindentations" />
		<completion string="setuplinewidth" />
		<completion string="setupnarrower" />
		<completion string="setupparagraphs" />
		<completion string="setupwhitespace" />
		<completion string="startnarrower" />
		<completion string="startparagraph" />
		<completion string="whitespace" />
		<completion string="attachment" />
		<completion string="bookmark" />
		<completion string="helptext" />
		<completion string="screen" />
		<completion string="startattachment" />
		<completion string="starthelptext" />
		<completion string="defineprogram" />
		<completion string="setupscreens" />
		<completion string="setuppagetransitions" />
		<completion string="about" />
		<completion string="at" />
		<completion string="atpage" />
		<completion string="definereferenceformat" />
		<completion string="from" />
		<completion string="goto" />
		<completion string="in" />
		<completion string="pagereference" />
		<completion string="ref" />
		<completion string="reference" />
		<completion string="setupreferenceformat" />
		<completion string="setupreferencing" />
		<completion string="setupurl" />
		<completion string="textreference" />
		<completion string="url" />
		<completion string="gotobox" />
		<completion string="setupprograms" />
		<completion string="somewhere" />
		<completion string="completeregister" />
		<completion string="coupledregister" />
		<completion string="coupleregister" />
		<completion string="defineregister" />
		<completion string="placeregister" />
		<completion string="setupregister" />
		<completion string="startregister" />
		<completion string="writetoregister" />
		<completion string="appendix" />
		<completion string="definehead" />
		<completion string="definesection" />
		<completion string="definesectionblock" />
		<completion string="headsetupspacing" />
		<completion string="placebookmarks" />
		<completion string="setupheads" />
		<completion string="setupsection" />
		<completion string="setupsectionblock" />
		<completion string="definesorting" />
		<completion string="loadsorts" />
		<completion string="setupsorting" />
		<completion string="sort" />
		<completion string="description" />
		<completion string="margindata" />
		<completion string="seeregister" />
		<completion string="startdescription" />
		<completion string="startsection" />
		<completion string="completelist" />
		<completion string="completelistofchemicals" />
		<completion string="completelistoffigures" />
		<completion string="completelistofgraphics" />
		<completion string="completelistofintermezzi" />
		<completion string="completelisttables" />
		<completion string="component" />
		<completion string="definefloat" />
		<completion string="definelistalternative" />
		<completion string="definenote" />
		<completion string="directsetup" />
		<completion string="documentvariable" />
		<completion string="environment" />
		<completion string="inline" />
		<completion string="inlinerange" />
		<completion string="page" />
		<completion string="pagebreak" />
		<completion string="placelist" />
		<completion string="placelistofchemicals" />
		<completion string="placelistoffigures" />
		<completion string="placelistofgraphics" />
		<completion string="placelistofintermezzi" />
		<completion string="placelistoftables" />
		<completion string="placelocalnotes" />
		<completion string="product" />
		<completion string="project" />
		<completion string="setregisterentry" />
		<completion string="setupfloat" />
		<completion string="setupfloats" />
		<completion string="setuphead" />
		<completion string="setupitemgroup" />
		<completion string="setuplines" />
		<completion string="setuplist" />
		<completion string="setuplistalternative" />
		<completion string="setupregisters" />
		<completion string="someline" />
		<completion string="startappendices" />
		<completion string="startbodymatter" />
		<completion string="startchemicaltext" />
		<completion string="startcomponent" />
		<completion string="startdocument" />
		<completion string="startendnote" />
		<completion string="startenvironment" />
		<completion string="startfiguretext" />
		<completion string="startfootnote" />
		<completion string="startfrontmatter" />
		<completion string="startgraphictext" />
		<completion string="startintermezzotext" />
		<completion string="startline" />
		<completion string="startlocalnotes" />
		<completion string="startmiddlemakeup" />
		<completion string="startpagemakeup" />
		<completion string="startproduct" />
		<completion string="startproject" />
		<completion string="startstandardmakeup" />
		<completion string="starttabletext" />
		<completion string="starttext" />
		<completion string="starttextmakeup" />
		<completion string="writebetweenlist" />
		<completion string="writetolist" />
		<completion string="abbreviation" />
		<completion string="AmSTeX" />
		<completion string="completelistofabbreviations" />
		<completion string="CONTEXT" />
		<completion string="Context" />
		<completion string="ConTeXt" />
		<completion string="ETEX" />
		<completion string="eTeX" />
		<completion string="INRSTEX" />
		<completion string="LAMSTEX" />
		<completion string="LamSTeX" />
		<completion string="LaTeX" />
		<completion string="LATEX" />
		<completion string="Lua" />
		<completion string="LUAJITTEX" />
		<completion string="LuajitTeX" />
		<completion string="luajitTeX" />
		<completion string="LUAMETATEX" />
		<completion string="luametaTeX" />
		<completion string="LuaMetaTeX" />
		<completion string="LUATEX" />
		<completion string="LuaTeX" />
		<completion string="luaTeX" />
		<completion string="MetaFont" />
		<completion string="METAFONT" />
		<completion string="METAFUN" />
		<completion string="MetaFun" />
		<completion string="METAPOST" />
		<completion string="MetaPost" />
		<completion string="MKII" />
		<completion string="MKIV" />
		<completion string="MKIX" />
		<completion string="MKLX" />
		<completion string="MKVI" />
		<completion string="MKXI" />
		<completion string="MKXL" />
		<completion string="MPII" />
		<completion string="MPIV" />
		<completion string="MPLX" />
		<completion string="MPVI" />
		<completion string="MPXL" />
		<completion string="PDFETEX" />
		<completion string="pdfeTeX" />
		<completion string="PDFTEX" />
		<completion string="pdfTeX" />
		<completion string="PiCTeX" />
		<completion string="PICTEX" />
		<completion string="placelistofabbreviations" />
		<completion string="PPCHTeX" />
		<completion string="PPCHTEX" />
		<completion string="PRAGMA" />
		<completion string="TaBlE" />
		<completion string="TABLE" />
		<completion string="TEX" />
		<completion string="TeX" />
		<completion string="XeTeX" />
		<completion string="XETEX" />
		<completion string="definesymbol" />
		<completion string="definesynonyms" />
		<completion string="loadsynonyms" />
		<completion string="periods" />
		<completion string="setupsymbolset" />
		<completion string="setupsynonyms" />
		<completion string="showcharacters" />
		<completion string="showsymbolset" />
		<completion string="startsymbolset" />
		<completion string="symbol" />
		<completion string="synonym" />
		<completion string="unknown" />
		<completion string="usesymbols" />
		<completion string="utfchar" />
		<completion string="bTABLEhead" />
		<completion string="placepairedbox" />
		<completion string="setuppairedbox" />
		<completion string="startplacepairedbox" />
		<completion string="starttabulate" />
		<completion string="definepairedbox" />
		<completion string="placepairedbox" />
		<completion string="setuppairedbox" />
		<completion string="setupxtable" />
		<completion string="startframedtable" />
		<completion string="startxrow" />
		<completion string="currentTABLEcolumn" />
		<completion string="currentTABLErow" />
		<completion string="defineparagraphs" />
		<completion string="definetabletemplate" />
		<completion string="definetabulate" />
		<completion string="definetabulation" />
		<completion string="nofTABLEcolumns" />
		<completion string="nofTABLErows" />
		<completion string="paragraph" />
		<completion string="setupparagraphs" />
		<completion string="setupTABLE" />
		<completion string="setuptables" />
		<completion string="setuptabulate" />
		<completion string="setuptabulation" />
		<completion string="starttable" />
		<completion string="starttables" />
		<completion string="starttabulate" />
		<completion string="definetext" />
		<completion string="definetextvariable" />
		<completion string="fillintext" />
		<completion string="footnotetext" />
		<completion string="placetextvariable" />
		<completion string="positiontext" />
		<completion string="settextvariable" />
		<completion string="setupbottomtexts" />
		<completion string="setupfootertexts" />
		<completion string="setupheadertexts" />
		<completion string="setuptext" />
		<completion string="setuptexttexts" />
		<completion string="setuptextvariable" />
		<completion string="setuptoptexts" />
		<completion string="textvariable" />
		<completion string="setupvariables" />
		<completion string="setvariables" />
		<completion string="definetype" />
		<completion string="definetyping" />
		<completion string="setuptype" />
		<completion string="setuptyping" />
		<completion string="typ" />
		<completion string="type" />
		<completion string="typefile" />
		<completion string="vskip" />
		<completion string="blank" />
		<completion string="definecharacterkerning" />
		<completion string="definevspacing" />
		<completion string="setupblank" />
		<completion string="setupcharacterkerning" />
		<completion string="setupvspacing" />
		<completion string="startnarrow" />
		<completion string="vspacing" />
		<completion string="definehspace" />
		<completion string="godown" />
		<completion string="hspace" />
		<completion string="nospace" />
		<completion string="packed" />
		<completion string="setcharstrut" />
		<completion string="setupspacing" />
		<completion string="setupstrut" />
		<completion string="startpacked" />
		<completion string="startunpacked" />
		<completion string="stretched" />
		<completion string="setupbackend" />
		<completion string="xmlinclude" />
	</set>
</completions>